In [211]:
import numpy as np
import scipy.io
import pandas as pd

In [236]:
c = np.load('book_mat.npy')
b=np.load('bookids.npy',allow_pickle=True)
u=np.load('book_userids.npy',allow_pickle=True)

In [237]:
cc=np.where(np.sum(c,axis=0)==0)[0]

In [238]:
bb=np.delete(b,cc)
c=np.delete(c,cc, axis=1)

In [239]:
to_remove = ['0099288850','033031582','0373153295','0552128481','0552137030','0552142379','0679781587','0749305401','0749395990','3426029553']

In [240]:
ccc=np.where(np.isin(bb,to_remove))[0]

In [241]:
bbb=np.delete(bb,ccc)
c=np.delete(c,ccc, axis=1)

In [242]:
c.shape

(881, 974)

In [248]:
pp = np.where(np.sum(c,axis=1)==0)[0]

In [243]:
c=np.delete(c,pp, axis=0)
uu = np.delete(u, pp)

/home/karandeepsingh.juneja/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: using a non-integer array as obj in delete will result in an error in the future
  """Entry point for launching an IPython kernel.

ValueError: invalid literal for int() with base 10: 'Mission to Mars (2000)'

In [225]:
np.save('book_mat.npy',c)

In [226]:
scipy.io.savemat('book.mat',{'a':c})

In [227]:
np.save('bookids.npy',bbb)

In [194]:
np.save('book_userids.npy',zz)